@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Staff Point - OC概要</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/admin/student_staff.css"/>
  <link rel="stylesheet" href="~/css/admin/account_manage.css"/>
</head>
  <body>
    <h1>アカウント管理</h1>
    <button class="filter_btn">フィルター</button>
    <button class="add_account_btn">アカウント追加</button>
      <div class="table-container">    
  <table>
    <thead class="table-header">
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>所属</th>
        <th>権限</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>渡辺 晃太朗</td>
        <td>test@email.com</td>
        <td>情報システム工学科4年制</td>
        <td>admin</td>
        <td><button class="control_btn">：</button></td>
      </tr>
      
      <!-- 他の参加者も同様に追加 -->
    </tbody>
  </table>
  </div>
</body>
</html>