@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Staff Point - OC概要</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/admin/admin-index.css"/>
</head>
<body>

      <div class="grid">
        <div id="" class="card">
          <h1>基本情報</h1>
          <p>参加者数：35名</p>
          <p>学生スタッフ数：18名</p>
          <p>交通費申請者数：10名</p>
          <p>同伴者数合計：8名</p>
        </div>

        <div class="card">@* ここは円グラフで表示 *@
          <h1>学科別参加者分布</h1>
          <p>情報    ：10人</p>
          <p>ドローン：10人</p>
          <p>自動車  ：10人</p>
          <p>建築    ：10人</p>
          <p>放射線  ：10人</p>
          <p>電気    ：10人</p>
          <p>ゲーム  ：10人</p>
        </div>

        <div class="card">
          <h1>パン配布数</h1>
          <p>国際文化学科：10個</p>
          <p>観光学科：10個</p>
          <p>経営学科：10個</p>
          <p>公共経営学科：10個</p>
          <p>福祉心理学科：10個</p>
          <p>保育児童学科：10個</p>
          <p>看護学科：10個</p>
        </div>
      </div>
</body>
</html>