@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Staff Point - OC概要</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/admin/student_staff.css"/>
</head>
<body>

      <div class="table-container">    
  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>フリガナ</th>
        <th>参加学科</th>
        <th>高校名</th>
        <th>学年</th>
        <th>同伴者数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <tr>
        <td>佐藤 太郎</td>
        <td>サトウ タロウ</td>
        <td>情報システム工学科4年制</td>
        <td>福島県立船引高等学校</td>
        <td>2年</td>
        <td>2人</td>
      </tr>
      <!-- 他の参加者も同様に追加 -->
    </tbody>
  </table>
  </div>
</body>
</html>