<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Staff Point - OC概要</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/admin/admin-site.css"/>
</head>
<body>

<div class="layout">
  <aside class="sidebar">
    <h2>Staff Point</h2>
    <ul>
      <li>
          <a class="nav-text" asp-controller="Admin" asp-action="Index">ホーム</a>
      </li>
      <li>
          <a class="nav-text" asp-controller="Admin" asp-action="Participants">参加者一覧</a>
      </li>
      <li>
          <a class="nav-text" asp-controller="Admin" asp-action="Student_Staff">学生スタッフ一覧</a>
      </li>
      <li>
          <a class="nav-text" asp-controller="Admin" asp-action="Data_Registration">データ登録</a>
      </li>
      <li>
          <a class="nav-text" asp-controller="Admin" asp-action="Account_Manage">アカウント管理</a>
      </li>
      <li style="margin-top: 32px;">ログアウト</li>
    </ul>
  </aside>

  <div class="main">
    <div class="header">
      <h1>12/20 OC概要</h1>
      <div class="search-bar">
        <input type="text" placeholder="検索...">
      </div>
    </div>

    <div class="content">
       @RenderBody()
  </div>
</div>

</body>
</html>