.page_about {
    text-align: center;
}
.camera-wrapper {
    position: relative;
    width: 320px;
    height: 240px;
    margin: auto;
    border: 1px solid #ccc;
}

#camera {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scan-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 180px;
    transform: translate(-50%, -50%);
    border: 5px dashed #00cc66;
    border-radius: 8px;
    pointer-events: none;
}
