@{
    Layout="~/Views/Shared/_Staff_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Staff Point</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/Staff/mypage.css">
  <style>
   
  </style>
  <!-- アイコン用（Font Awesome） -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

   <div class="profile">
    <div class="profile-header">
      <h2>渡辺 晃太朗</h2>
      <span class="edit-btn">編集</span>
    </div>
    <div class="status">
      <p>学科：高度情報工学科</p>
      <p>学年：4年生</p>
      <p>性別：男性</p>
    </div>
  </div>

  <div class="manual-list">
    <h3>マニュアル一覧</h3>
    <ul>
      <li>バス案内</li>
      <li>玄関前挨拶</li>
      <li>1階受付</li>
      <li>誘導</li>
      <li>2階受付</li>
      <li>保護者説明会誘導</li>
      <li>保護者個別相談会誘導</li>
      <li>撮影係</li>
    </ul>
  </div>


</body>
</html>