@{
    Layout="~/Views/Shared/_Staff_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Staff Point</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/Staff/staff_index.css">
  <style>
   
  </style>
  <!-- アイコン用（Font Awesome） -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

  <h2 class="oc_about">12/20 冬OC概要</h2>
  <div class="layout">
  <div class="card">
    <h2>参加者数</h2>
    <p>120名</p>
    
  </div>

  <div class="card">
    <h2>学生スタッフ数</h2>
    <p>24名</p>
    
  </div>

  <div class="card">
    <h2>交通費申請者数</h2>
    <p>28名</p>
  </div>
  <div class="card">
    <h2>同伴者数合計</h2>
    <p>2名</p>
  </div>
  
  </div>

</body>
</html>