@{
    Layout="~/Views/Shared/_Staff_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Staff Point</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/Staff/participants.css">
  <style>
   
  </style>
  <!-- アイコン用（Font Awesome） -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

  <h2 class="oc_about">本日の参加者</h2>
  <button>フィルター</button>
  <div class="layout">
  <div class="card-container">

    <div class="participant-card">
      <div class="label grade-repeat"></div>
      <div class="card-content">
        <h3>佐藤 太郎</h3>
        <p>福島県立船引高校　3年</p>
        <p>情報システム工学科</p>
      </div>
    </div>

    <div class="participant-card">
      <div class="label grade-2"></div>
      <div class="card-content">
        <h3>鈴木 花子</h3>
        <p>郡山女子高校　2年</p>
        <p>情報システム化</p>
      </div>
    </div>

    <div class="participant-card">
      <div class="label grade-3"></div>
      <div class="card-content">
        <h3>山田 一郎</h3>
        <p>安積黎明高校 3年</p>
        <p>一級自動車工学科</p>
      </div>
    </div>

    <div class="participant-card">
      <div class="label grade-repeat"></div>
      <div class="card-content">
        <h3>山田 一郎</h3>
        <p>清陵情報高校</p>
        <p>情報システム工学科</p>
      </div>
    </div>

    <div class="participant-card">
      <div class="label grade-3"></div>
      <div class="card-content">
        <h3>佐藤 一</h3>
        <p>あさか開成高校</p>
        <p>ドローンスペシャリスト科</p>
      </div>
    </div>

    <div class="participant-card">
      <div class="label grade-3"></div>
      <div class="card-content">
        <h3>佐藤 一</h3>
        <p>あさか開成高校</p>
        <p>ドローンスペシャリスト科</p>
      </div>
    </div>

    <div class="participant-card">
      <div class="label grade-3"></div>
      <div class="card-content">
        <h3>佐藤 一</h3>
        <p>あさか開成高校</p>
        <p>ドローンスペシャリスト科</p>
      </div>
    </div>

  </div>

</body>
</html>